<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!--토큰 ----------------------->
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
    <!--토큰 ----------------------->
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoomGoodRoomEnd</title>

    <!--제이쿼리-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <style>
        .col-lg-2 {
          position: relative;
          display: inline-block;
          transition: color 0.3s ease; /* 호버 효과를 위한 색상 전환 효과 */
          cursor:pointer;
          padding-bottom:10px;
        }

      .col-lg-2::after {

          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          width: 0; /* 초기에는 바텀 라인의 너비가 0 */
          height: 2px;
          background-color: rgb(53, 197, 240);
          transition: width 0.3s ease; /* 너비 변화를 부드럽게 만듦 */
      }

      .col-lg-2:hover::after {
          width: calc(100% - 40px); /* 호버 상태에서 바텀 라인의 너비를 조정하여 가운데에서부터 양옆으로 확장됨 */
      }
      a{
        color: black;
        font-size :18px;
        font-weight :bold;
      }
      a:hover{
        color:rgb(53, 197, 240);;
      }

        a:active {
  color: red;
}
    </style>
</head>

<body>
<input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
<!-- Page Preloder -->
<!--    <div id="preloder">-->
<!--        <div class="loader"></div>-->
<!--    </div>-->

<!--------- Offcanvas Menu Begin --------------------------------------->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="/loginshop" sec:authorize="isAnonymous()">로그인</a>
            <a href="/Logout" sec:authorize="isAuthenticated()">로그아웃</a>
            <a href="/loginshop" sec:authorize="isAnonymous()">회원가입</a>
            <a href="#">고객센터</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End ---------------------------------------------------------->
<!-- Header Section Begin -->
<div th:insert="~{header.html}"></div>
<!-- Header Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>만원이하</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">Home</a>
                        <span>만원이하</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row mywish" style="text-align:center;justify-content: center;">
            <div  class="col-lg-2" th:if="${priceno}==0" style=" border-bottom:2px solid rgb(53, 197, 240); ">
                <a href="/about?priceno=0" style="color:rgb(53, 197, 240)!important;">전체 보기</a></div>
            <div class="col-lg-2" th:if="${priceno}!=0"><a href="/about?priceno=0">전체 보기</a></div>
            <div  class="col-lg-2" th:if="${priceno}!=1"><a href="/about?priceno=1">천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}==1" style=" border-bottom:2px solid rgb(53, 197, 240); ">
                <a href="/about?priceno=0" style="color:rgb(53, 197, 240)!important;">천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}!=2"><a href="/about?priceno=2">3천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}==2" style=" border-bottom:2px solid rgb(53, 197, 240); ">
                <a href="/about?priceno=0" style="color:rgb(53, 197, 240)!important;">3천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}!=3"><a href="/about?priceno=3">5천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}==3" style=" border-bottom:2px solid rgb(53, 197, 240); ">
                <a href="/about?priceno=0" style="color:rgb(53, 197, 240)!important;">5천원 코너</a></div>
            <div class="col-lg-2" th:if="${priceno}!=4"><a href="/about?priceno=4">7천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}==4" style=" border-bottom:2px solid rgb(53, 197, 240); ">
                <a href="/about?priceno=0" style="color:rgb(53, 197, 240)!important;">7천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}!=5"><a href="/about?priceno=5">9천원 코너</a></div>
            <div  class="col-lg-2" th:if="${priceno}==5" style=" border-bottom:2px solid rgb(53, 197, 240); ">
                <a href="/about?priceno=0" style="color:rgb(53, 197, 240)!important;">9천원 코너</a></div>
        </div>
        <hr>

        <!--상품 옵션 바 -------------------------------------------------->

        <!--상품 부분------------------------------------------------------------------------------------>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" th:each="dto : ${result.dtoList}">

                <div  class="product__item sale">

                    <a th:href="@{/shop-details(pno=${dto.pno},
                            page=${result.page},
                            type=${pageRequestDTO.type} ,
                            keyword = ${pageRequestDTO.keyword})}">
                        <div class="product__item__pic set-bg">
                            <img th:if="${dto.imageDTOList != null && dto.imageDTOList.size() > 0 && dto.imageDTOList[0].pipath != null }"
                                 th:src="@{|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|}"
                                 style="width: 100%; height:100%;border-radius: 5px;">
                            <img th:unless="${dto.imageDTOList != null && dto.imageDTOList.size() > 0 && dto.imageDTOList[0].pipath != null }"
                                 src="img/noimage.png" style="width: 100%; height:100%;border-radius: 5px;">
                            <span class="label">Sale</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""><span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <h5 style="color: #35C5F0; ">[[${dto.categoryBig.cname}]]</h5>
                        <h7 th:text="${dto.subContent}" class="sub-content"></h7>
                        <h5 th:text="${dto.pname}"></h5>
                        <div style="display: inline-block;">
                            <h5 th:text="${dto.discount + '%'}" style="color: #35C5F0; display: inline-block;"></h5>
                            <h5 class="originalPrice" th:text="${dto.originalPrice}" style="color: #C3C3BD; display: inline-block; text-decoration: line-through;"></h5>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>&nbsp;
                            <span style="color: #F7941D; font-weight: bold;" class="">(4)</span>&nbsp;&nbsp;
                            <span style="font-weight: bold;" class="review-count">리뷰 30,000</span>
                        </div>
                        <div>
                            <h5 class="price" th:text="${dto.price}"></h5>
                            <h5 style="color: #35C5F0; text-align: right;" th:if="${dto.categoryBig.deliveryFee}==0">무료배송</h5>
                            <h5 style="color: #35C5F0; text-align: right;" th:if="${dto.categoryBig.deliveryFee}!=0">[[${dto.categoryBig.deliveryFee}]]원</h5>
                        </div>
                        <div class="product__color__select">
                            <label for="pc-31"><input type="radio" id="pc-31"></label>
                            <label class="active black" for="pc-32"><input type="radio" id="pc-32"></label>
                            <label class="grey" for="pc-33"><input type="radio" id="pc-33"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--상품 부분------------------------------------------------------------------------------------>
        <!--페이징 부분------------------------------------------------------------------------------------>
        <!--                    <div class="row">-->
        <!--                        <div class="col-lg-12">-->
        <!--                            <div class="product__pagination">-->
        <!--                                <a class="active" href="#">1</a>-->
        <!--                                <a href="#">2</a>-->
        <!--                                <a href="#">3</a>-->
        <!--                                <span>...</span>-->
        <!--                                <a href="#">21</a>-->
        <!--                            </div>-->
        <!--                        </div>-->

        <!--ㅁ-->
        <div class="product__pagination">
            <div class="product__pagination">
                <ul class="pagination h-100 justify-content-center align-items-center"
                    style="height:50px !important">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/shop(page=1,
                                    type=${pageRequestDTO.type} ,
                                    keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">
                            << </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/shop(page=${result.page - 1},
                                   type=${pageRequestDTO.type},
                                   keyword=${pageRequestDTO.keyword})}"
                           tabindex="-1">   < </a>
                    </li>

                    <li th:class=" 'page-item ' + ${result.page == page?'active':''} "
                        th:each="page: ${result.pageList}">
                        <a class="page-link"
                           th:href="@{/shop(page = ${page} ,
                                   type=${pageRequestDTO.type} ,
                                   keyword = ${pageRequestDTO.keyword}  )}">
                            [[${page}]]
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:href="@{/shop(page=${result.page + 1} ,
                                type=${pageRequestDTO.type} ,
                                keyword = ${pageRequestDTO.keyword} )}"> > </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/shop(page=${result.totalPage},
                                   type=${pageRequestDTO.type} ,
                                   keyword=${pageRequestDTO.keyword})}"> >> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--페이징 부분------------------------------------------------------------------------------------>
    </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" action="/shop" method="get">
            <input type="hidden" name="page" value="1">
            <input type="text" id="search-input" name="keyword" placeholder="Search here.....">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>
</div>
<!-- Search End -->
<script>
document.addEventListener("DOMContentLoaded", function() {
var priceElements = document.getElementsByClassName("price");
var originalPriceElements = document.getElementsByClassName("originalPrice");

for (var i = 0; i < priceElements.length; i++) {
var priceElement = priceElements[i];
var price = priceElement.textContent;
priceElement.textContent = formatNumberWithCommas(price) + '원';
}

for (var i = 0; i < originalPriceElements.length; i++) {
var originalPriceElement = originalPriceElements[i];
var originalPrice = originalPriceElement.textContent;
originalPriceElement.textContent = formatNumberWithCommas(originalPrice) + '원';
}
});

function formatNumberWithCommas(number) {
return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
</script>
<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>