<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<!--    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoomGoodRoomEnd</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!--제이쿼리-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div th:include="header.html"></div>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>메인페이지</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">home</a>
                        <span>메인페이지</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offcanvas Menu Begin -->

<!-- Header Section End -->


<!-- Map Begin!!!! -->
<Hr>
<div class="container" style="width:1000px;height:1100px">
    <div class="col-md-12 mb-3" style=""><h4>의류수거함 조회</h4></div>
    <div class="row" style="">
        <input type="text" class="form-control col-md-6 ml-3" id="sample5_address" placeholder="주소">
        <input type="button" class="btn btn-primary col-md-2 ml-3" onclick="sample5_execDaumPostcode()" value="주소 검색">
    </div>

    <hr>
    <div id="markerExplain" style="display:none;">
    <div class="col-md-12 mb-3"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png" > 마크는 의류수거함 위치이고 , <img src=" http://t1.daumcdn.net/mapjsapi/images/marker.png" >마크는 검색 위치입니다. <span style="font-size:13px;">*의류수거함 근처를 클릭하면 로드뷰를 확인하실 수 있습니다.</span></div>
    <hr>

    </div>
    <div id="mapWrapper" style="width:100%;height:500px;float:left ; ">
        <div class="col-md-12" id="map" style="height:500px; display:none;border-radius: 30px;">
        </div>
    </div>
    <br>
    <div id="rvWrapper" style="width:100%;height:500px;float:left">
        <div class="col-md-12" id="roadview" style="height:500px; display:none;border-radius: 30px;">
            <hr>
        </div>
    </div>
    <input class="btn btn-primary float-right" type="hidden" id="roadviewbtn" value="숨기기" style="margin-top:10px">
</div>


<script>

<!--        ////////////////csrf 토큰////////////////////////////////////////////////////////////////-->
<!--           var csrfToken = $("meta[name='_csrf']").attr("content");-->
<!--           var csrfHeader = $("meta[name='_csrf_header']").attr("content");-->


<!--    &lt;!&ndash;            var csrfToken = /*[[${_csrf.token}]]*/ null;&ndash;&gt;-->
<!--    &lt;!&ndash;            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;&ndash;&gt;-->
<!--            $(document).ajaxSend(function (e, xhr, options) {-->
<!--                xhr.setRequestHeader(csrfHeader, csrfToken);-->
<!--            });-->
<!--        ////////////////csrf 토큰.end////////////////////////////////////////////////////////////////-->


</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cc87e929dbfac650b42bd27e4f81340c&libraries=services"></script>
<script>
    var x = 33.450701;
    var y = 126.570667;
    var mapCenter = new kakao.maps.LatLng(33.450422139819736 , 126.5709139924533);
    var mapWrapper = document.getElementById('mapWrapper'); //지도를 감싸고 있는 DIV태그
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(x, y),
        level: 3
    };

    var links = ["https://api.odcloud.kr/api/15127131/v1/uddi:a9873b46-9551-407a-aff5-a3a77befb3d4?page=1&perPage=1000",
    "https://api.odcloud.kr/api/15076398/v1/uddi:6dec2a8d-6404-4318-8767-85419b3c45a0?page=1&perPage=1000",
<!--    "https://api.odcloud.kr/api/15109594/v1/uddi:d63e68bf-e03d-4d3c-a203-fd9add3d372c?page=1&perPage=1000",-->
<!--    "https://api.odcloud.kr/api/15068871/v1/uddi:3fd97c80-6a9e-4d53-b65e-937d28de0605?page=1&perPage=1000",-->
    "https://api.odcloud.kr/api/15106679/v1/uddi:2a54e58d-6b54-46de-9de1-cc3a6887ccb8?page=1&perPage=1000",
<!--    "https://api.odcloud.kr/api/15068021/v1/uddi:11168719-6301-4ff2-873d-e44e26511d89?page=1&perPage=1000",-->
    "https://api.odcloud.kr/api/15112228/v1/uddi:67d42349-302e-40f6-af11-c496e532d090?page=1&perPage=1000",
    "https://api.odcloud.kr/api/15126956/v1/uddi:e1fc1767-5925-44f0-9eeb-ab332587885e?page=1&perPage=1000",
<!--    "https://api.odcloud.kr/api/15126958/v1/uddi:b8d0dfd5-cefa-4cb2-8d35-fc6b5f2507b0?page=1&perPage=1000",-->
    "https://api.odcloud.kr/api/15127036/v1/uddi:f3c82d6f-498a-4e75-989b-e3fdc4720413?page=1&perPage=1000",
    "https://api.odcloud.kr/api/15068863/v1/uddi:2682c872-adbe-4623-9e29-a53467734a88?page=1&perPage=1000",
    "https://api.odcloud.kr/api/15105196/v1/uddi:3d00d6b8-e766-4b2e-990e-b6d310b9e792?page=1&perPage=1000",
    "https://api.odcloud.kr/api/15106473/v1/uddi:c0982c3d-865d-4a96-897c-a67f24baeed5?page=1&perPage=1000",
    "https://api.odcloud.kr/api/15104622/v1/uddi:34ca4455-457d-4a50-ad1a-9b373f0f08eb?page=1&perPage=1000",
    "https://api.odcloud.kr/api/15127304/v1/uddi:78d8746d-a497-4d27-9c0a-ddc69e71710f?page=1&perPage=1000"


    ];


    var map = new kakao.maps.Map(container, options);
    //map.addOverlayMapTypeId(kakao.maps.MapTypeId.ROADVIEW); //지도 위에 로드뷰 도로 올리기

    var markerPosition = new kakao.maps.LatLng(x, y); // 마커가 표시될 위치입니다

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    // 마커가 지도 위에 표시되도록 설정합니다
    var rvContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
    var rv = new kakao.maps.Roadview(rvContainer); //로드뷰 객체
    var rvClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체



// 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
var markImage = new kakao.maps.MarkerImage(
    'https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png',
    new kakao.maps.Size(26, 46),
    {
        // 스프라이트 이미지를 사용합니다.
        // 스프라이트 이미지 전체의 크기를 지정하고
        spriteSize: new kakao.maps.Size(1666, 168),
        // 사용하고 싶은 영역의 좌상단 좌표를 입력합니다.
        // background-position으로 지정하는 값이며 부호는 반대입니다.
        spriteOrigin: new kakao.maps.Point(705, 114),
        offset: new kakao.maps.Point(13, 46)
    }
);
 mapCenter = new kakao.maps.LatLng(33.450422139819736 , 126.5709139924533)
// 드래그가 가능한 마커를 생성합니다.
var rvMarker = new kakao.maps.Marker({
    image : markImage,
    position: mapCenter,
    draggable: true,
    map: map
});

//마커에 dragend 이벤트를 할당합니다
kakao.maps.event.addListener(rvMarker, 'dragend', function(mouseEvent) {
    var position = rvMarker.getPosition(); //현재 마커가 놓인 자리의 좌표
    toggleRoadview(position); //로드뷰를 토글합니다
});

//지도에 클릭 이벤트를 할당합니다
kakao.maps.event.addListener(map, 'click', function(mouseEvent){

    // 현재 클릭한 부분의 좌표를 리턴
    var position = mouseEvent.latLng;

    rvMarker.setPosition(position);
    toggleRoadview(position); //로드뷰를 토글합니다
});

//로드뷰 toggle함수
function toggleRoadview(position){

    //전달받은 좌표(position)에 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄웁니다
    rvClient.getNearestPanoId(position, 50, function(panoId) {
        if (panoId === null) {
            rvContainer.style.display = 'none'; //로드뷰를 넣은 컨테이너를 숨깁니다
            mapWrapper.style.width = '100%';
            map.relayout();
        } else {
            mapWrapper.style.width = '100%';
            map.relayout(); //지도를 감싸고 있는 영역이 변경됨에 따라, 지도를 재배열합니다
            rvContainer.style.display = 'block'; //로드뷰를 넣은 컨테이너를 보이게합니다
            rv.setPanoId(panoId, position); //panoId를 통한 로드뷰 실행
            rv.relayout(); //로드뷰를 감싸고 있는 영역이 변경됨에 따라, 로드뷰를 재배열합니다
        }
    });
}
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

    $('#roadviewbtn').on('click',function(){
        $('#roadview').css('display','none');
        $('#roadviewbtn').attr('type','hidden');
    });
var geocoder = new daum.maps.services.Geocoder();
////////////////////////
function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수
                $('#markerExplain').css('display','block');
                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        markerPosition = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        container.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(markerPosition);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(markerPosition)
                        console.log(marker.getImage());
                    }
                });
            }
        }).open();
    }

    var marker3 = new kakao.maps.Marker({
        position: new kakao.maps.LatLng( 37.4770155647, 126.9534911055 )
    });
    marker3.setMap(map)

     var mark = null;
             var markername = "mark";

///////////////////////의류수거함함////////
    $('#selectbtn').on('change',function(){
            console.log($('#selectbtn').val());


            $.ajax({
                    url:$('#selectbtn').val(), //서버주소(동작구)
                    type: "get", //전송방식
                    dataType: "json", //서버에서 넘어오는 데이터의 형식
                    headers: {
                        "Authorization": "Infuser VJ1dvsSl3rwr/8xnKK84kAOUos6JIeWrmebDPGKC0xysKDTc5R9VcCm+IGkc6MWYgWyNB6YDKMfEdUUeIkaAkQ==" // 인증키를 포함한 헤더
                    },

                    success:function(result){ //서버에서 데이터가 정상적으로 넘어오면
                        console.log(result.matchCount);
                        console.log(result);
                        for(var i = 0; i < result.matchCount; i++) {
                            if (map.getLevel() <= 3) { // 현재 지도의 줌 레벨이 3 이하일 때만 마커 생성
                                // 마커를 생성합니다
                                markers["mark" + i] = new kakao.maps.Marker({
                                    position: new kakao.maps.LatLng(result.data[i].위도, result.data[i].경도)
                                });
                                // 마커가 지도 위에 표시되도록 설정합니다
                                markers["mark" + i].setMap(map);
                            }
                        }
                    }

                });


        })
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
    var imageSize = new kakao.maps.Size(24, 35);
    var markerImage2 = new kakao.maps.MarkerImage(imageSrc, imageSize);
           for(var j=0;j<11;j++){
           var markers = {};
           $.ajax({
                    url:links[j], //서버주소(동작구)
                    type: "get", //전송방식
                    dataType: "json", //서버에서 넘어오는 데이터의 형식
                    headers: {
                        "Authorization": "Infuser VJ1dvsSl3rwr/8xnKK84kAOUos6JIeWrmebDPGKC0xysKDTc5R9VcCm+IGkc6MWYgWyNB6YDKMfEdUUeIkaAkQ==" // 인증키를 포함한 헤더
                    },

                    success:function(result){ //서버에서 데이터가 정상적으로 넘어오면
                        console.log(result.matchCount);
                        console.log(result);
                        for(var i = 0; i < result.matchCount; i++) {
                            if (map.getLevel() <= 3) { // 현재 지도의 줌 레벨이 3 이하일 때만 마커 생성
                                // 마커를 생성합니다
                                markers["mark" + i] = new kakao.maps.Marker({
                                    position: new kakao.maps.LatLng(result.data[i].위도, result.data[i].경도),
                                   image : markerImage2
                                });
                                // 마커가 지도 위에 표시되도록 설정합니다
                                markers["mark" + i].setMap(map);
                            }
                        }
                    }

                });
         }
////////////////
</script>
</body>
</html>