<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="/loginshop" sec:authorize="isAnonymous()">로그인</a>
            <a href="/Logout" sec:authorize="isAuthenticated()">로그아웃</a>
            <a href="/loginshop" sec:authorize="isAnonymous()" class="active">회원가입</a>
            <a href="/mypage" sec:authorize="isAuthenticated()">마이페이지</a>
            <a href="/FAQ">고객센터</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <a href="/index">자취방 살아남기</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left header__top__links">
                        <a href="/adminpage" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">관리자 페이지</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a href="/Loginshop" sec:authorize="isAnonymous()">로그인</a>
                            <a href="/Logout" onclick="return check()" sec:authorize="isAuthenticated()">로그아웃</a>
                            <a href="/memberJoin" sec:authorize="isAnonymous()">회원가입</a>
                            <a href="/mypage" sec:authorize="isAuthenticated()">마이페이지</a>
                            <a href="/FAQ">고객센터</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="" style="margin-left:30px; margin-top:5px; height:90px">
                    <a href="/index"><img src="/img/roomgood.png"  style="margin-top:5%;height:70%" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu" style="padding-top:34px;">
                    <ul>
                        <li><a href="/shop">카테고리</a>
                            <ul class="dropdown">
<!--                                <li><a href="/shop?" style="background-color:gray;">전체보기</a></li>-->
                                <li><a href="/shop?">전체보기</a></li>
                                <li><a href="/shop?cno=1">가구</a></li>
                                <li><a href="/shop?cno=2">가전</a></li>
                                <li><a href="/shop?cno=3">옷정리/보관</a></li>
                                <li><a href="/shop?cno=4">생활용품</a></li>
                                <li><a href="/shop?cno=5">소품/취미</a></li>
                            </ul>
                        </li>
                        <li><a href="/about?priceno=0">만원이하</a></li>

                        <li><a href="/contact">딸기마켓</a></li>
                        <li ><a href="/blog">이벤트</a>
                            <ul class="dropdown" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                <li><a href="/eventRegister">글등록</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option" style="padding-top:34px;">
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <!--로그인 한 상태-->
                    <a href="/wishlist" sec:authorize="isAuthenticated()"><img src="img/icon/heart.png" alt=""></a>
                    <!--로그인 안한 상태-->
                    <a href="/Loginshop" sec:authorize="isAnonymous()" class="heart"><img src="img/icon/heart.png" alt=""></a>


                    <a href="/shopping-cart" sec:authorize="isAuthenticated()"><img  src="img/icon/cart.png" alt=""><span>0</span></a>
                    <a href="/Loginshop" sec:authorize="isAnonymous()" class="heart"><img  src="img/icon/cart.png" alt=""><span></span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<script>
    function check() {
        var result = confirm("로그아웃하시겠습니까?");
        return result;
    }

    $('.heart').on('click',function(e){
        if(!confirm("로그인 후 이용가능한 서비스입니다. 로그인 하시겠습니까?")){
            e.preventDefault();
        }
    })
</script>