<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">로그인</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="이메일" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required="">
        </p>
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
        <button class="btn btn-lg btn-info btn-block" type="submit">계속하기</button>
        <hr/>
        <div style="margin-left:10px;"> 계정이 없으신가요?  <a href="/memberJoin" style="margin-left:10px;" >회원가입</a></div>
        <hr/>

        <tbody><tr><td><a href="/oauth2/authorization/google" class="btn btn-lg btn-light btn-block" style="width:300px; height"><img th:src="@{/img/google.png}" style="width:20px; height:25px; padding-bottom:5px;"> Google로 계속하기</a></td></tr></tbody>
        <label></label>
        <tbody><tr><td><a href="/oauth2/authorization/naver" class="btn btn-lg btn-success btn-block"><img th:src="@{/img/naver.png}" style="width:20px; height:25px; padding-bottom:5px;"> Naver로 계속하기</a></td></tr></tbody>
        <label></label>
        <tbody><tr><td><a href="/oauth2/authorization/kakao" class="btn btn-lg btn-warning btn-block"><img th:src="@{/img/kakao.png}" style="width:20px; height:25px; padding-bottom:5px;"> Kakao로 계속하기</a></td></tr></tbody>
        <label></label>
        <tbody><tr><td><a href="/oauth2/authorization/kakao" class="btn btn-lg btn-primary btn-block"><img th:src="@{/img/facebook.png}" style="width:20px; height:25px; padding-bottom:5px;"> Facebook으로 계속하기</a></td></tr></tbody>

    </form>
    </table>
</div>
<script th:inline="javascript">
    var msg = [[${msg}]];

    if(msg){
        alert(msg);

    };
    var error = [[${error}]];
    if(error){
        alert(error);

    };
</script>
</body></html>