<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>상품등록</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--내가 추가.end-->
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoomGoodRoomEnd</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!--내가 추가.end-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>

                .input-form {
                  max-width: 800px;

                  margin-top: 80px;
                  padding: 32px;

                  background: #fff;
                  -webkit-border-radius: 10px;
                  -moz-border-radius: 10px;
                  border-radius: 10px;
                }

        .imgBox{
            background-color:#342;
            overflow:hidden;
        }
        .mainImg{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        ul,li,ol{
            list-style:none;
        }
        .breadcrumb-option{
            margin-bottom:100px;
        }
        .product_buy{
            display:flex;
            max-width:1260px;
            width:100%;
            margin: 0 auto;
        }
        .imgBox_up{
            width:50%;
        }
        .product_nav{
            width:100%;
            margin-top:30px;
            padding-top: 15px;
            border-top:solid 1px #ccc;
            border-bottom:solid 1px #ccc;
            padding-bottom:15px;
        }
        .product_nav ul{
            width:20%;
            margin:0 auto;
            text-align:center;
        }
        .product_nav ul li{
            display:inline-block;
        }
        .contentBox{
            width:45%;
            margin-left:5%;

        }
        .star i,.star p {
        color: #35C5F0;
        }
        #submitBtn{
            background-color:#fff;
            border:2px solid #35C5F0;
            border-radius:5px;
            padding:2px 5px;
        }
        #submitBtn:hover{
            background-color:#35C5F0 !important;
            color:#fff !important;
        }
        .listBtn{
            background-color:#fff;
            border:2px solid #35C5F0;
            border-radius:5px;
            padding:2px 5px;
        }
        .listBtn:hover{
            background-color:#35C5F0 !important;
            color:#fff !important;
        }

    </style>
</head>
<!-----------윤기가 추가한 css--------------------------------->
<style>
    .register_info li {
            margin-bottom: 5%; /* 리스트 아이템 사이에 간격을 주기 위해 마진을 설정합니다. */
        }

    .form-group{
        margin-bottom: 3%; /*인풋 부분 간격*/
        }
</style>
<!-------------------업로드 이미지 구역 css--------------------->
<style>
    .viewimage {
        width: 90%;
        max-width: 100%;
        order: -1;
        margin: auto; /* 상하 여백 5%, 좌우 자동 정렬 */
        height: 400px;
        max-height: 400px;
    }
    .uploadResult ul {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        height: 180px;
        background-color: #f4f8ff
    }
    .uploadResult ul li {
        list-style: none;
        padding: 10px;
        box-sizing: border-box;
        margin: auto; /* 상하 여백 5%, 좌우 자동 정렬 */
    }
    .uploadResult ul li img {
        width: 100px;
        height: auto;
        max-width: 100%;
    }
       .uploadResult2 ul {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        height: 180px;
        background-color: #f4f8ff
    }
</style>
<!-------------------업로드 이미지 구역 css--------------------->
<body>
<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
<!--<div id="preloder">-->
<!--    <div class="loader"></div>-->
<!--</div>-->

<!-- Breadcrumb Section Begin -->

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="/loginshop" sec:authorize="isAnonymous()">로그인</a>
            <a href="/Logout" sec:authorize="isAuthenticated()">로그아웃</a>
            <a href="/loginshop" sec:authorize="isAnonymous()">회원가입</a>
            <a href="#">고객센터</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<div th:insert="~{header.html}"></div>
<!-- Header Section End -->

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>상품 등록</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">상품 등록</a>
                        <span>상품 등록 페이지</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!--구매부분 작성-->
<form th:action="@{/productregister}" th:method="post">
    <div class="product_buy">
        <div class="imgBox_up">
            <div>
                <div class="container imgUpBox" style="background-color: #f4f8ff;">
                    <br>
                    <div class="viewimage">
                        <ul >

                        </ul>
                    </div>
                </div>
                <div class="uploadResult">
                    <ul>

                    </ul>
                </div>
                <div class="form-group fileForm">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input files" id="fileInput" multiple>
                        <label class="custom-file-label" for="fileInput" data-browse="파일첨부"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentBox">
            <!--카테고리-->
            <div class="mb-3">
                <div class="input-group" style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px; margin-bottom:30px; display: flex; align-items: center;">
                    <div class="col-lg-3">카테고리</div>
                    <select class="custom-select" id="categoryLevel1" name="categoryBig">
                        <option disabled selected>대분류 선택</option>
                        <option value="1">가구</option>
                        <option value="2">가전</option>
                        <option value="3">정리/보관</option>
                        <option value="4">생활용품</option>
                        <option value="5">소품/취미</option>
                    </select>
                </div>
            </div>
            <!--카테고리-->
            <div style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px; margin-bottom:30px; display: flex; align-items: center;">
                <div class="col-lg-2">상품명</div>
                <input type="text" class="form-control mb-3" style="color:#333; max-width:80%;" name="pname" placeholder="상품명(필수)">
            </div>
            <div style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px; margin-bottom:30px; display: flex; align-items: center;">
                <input type="text" class="form-control col-lg-10" name="price" placeholder="판매가(필수)">
                <div class="col-lg-2">판매가</div>
            </div>
            <div style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px; margin-bottom:30px; display: flex; align-items: center;">
                <input type="text" class="form-control col-lg-10" name="stock" placeholder="수량">
                <div class="col-lg-2">수량</div>
            </div>
            <div style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px; margin-bottom:30px; display: flex; align-items: center;">
                <div class="col-lg-2">상품명</div>
                <input type="text" class="form-control mb-3" name="subContent" placeholder="상품 요약 설명">
            </div>
            <div style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px; margin-bottom:30px; display: flex; align-items: center;">
                <div class="col-lg-4">제품 상태 </div>
                <div class="col-lg-3">
                    <input class="form-check-input" type="checkbox" id="tag11" name="itemSellStatus" value=SELL>
                    <label for="tag11">SELL</label>
                </div>
                <div class="col-lg-3">
                    <input class="form-check-input" type="checkbox" id="tag21" name="itemSellStatus" value=SOLD_OUT>
                    <label for="tag21">SOLD_OUT</label>
                </div>
            </div>


            <!-- 태그 수량에 맞게 일단 위치만 ------------------------------------------->
            <div class="form-check" style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px; ">
                <div class="col-lg-4">제품 태그 </div>
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag1" name="tag1">
                        <label class="form-check-label" for="tag1">태그 1</label>
                    </div>
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag2" name="tag2">
                        <label class="form-check-label" for="tag2">태그 2</label>
                    </div>
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag3" name="tag2">
                        <label class="form-check-label" for="tag2">태그 3</label>
                    </div>
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag4" name="tag2">
                        <label class="form-check-label" for="tag2">태그 4</label>
                    </div>
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag5" name="tag2">
                        <label class="form-check-label" for="tag2">태그 5</label>
                    </div>
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag6" name="tag2">
                        <label class="form-check-label" for="tag2">태그 6</label>
                    </div>
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag7" name="tag2">
                        <label class="form-check-label" for="tag2">태그 7</label>
                    </div>
                    <div class="col-md-3 mb-2">
                        <input class="form-check-input" type="checkbox" id="tag8" name="tag2">
                        <label class="form-check-label" for="tag2">태그 8</label>
                    </div>
                    <!-- 나머지 체크 박스들도 동일한 방법으로 추가 -->
                </div>
            </div>
            <!-- 태그 수량에 맞게 일단 위치만 ------------------------------------------->
        </div>
    </div>
    <!--구매부분 작성 끝-->

    <!--상품 내비 바-->
    <div class="container">
        <div class="product_nav col-md-12">
            <ul>
                <li><a>상품 상세 설명</a></li>
            </ul>
        </div>
        <div class="col-md-12" style="background-color:#f4f8ff; color:#09609C; width:100%; font-size:15px; padding:10px 20px;">
            <textarea class="form-control" name="content" placeholder="상품 상세 설명" rows="2"></textarea>
            <!--상품 상세설명 이미지로 대체-->
            <div class="uploadResult2">
                <ul>
                </ul>
            </div>
        </div>
        <div class="form-group fileForm">
            <div class="custom-file">
                <input type="file" class="custom-file-input2 files" id="fileInput2" multiple>
                <label class="custom-file-label" data-browse="파일첨부"></label>
            </div>
        </div>
        <!--상품 상세설명 이미지로 대체-->
    </div>
    <!--이미지 박스-->
    <div class="box">
    </div>
    <!--이미지 박스-->
    <button id="submitBtn" type="submit">상품등록</button>
    <a th:href="@{/shop}">
        <button type="button" class="listBtn">리스트</button>
    </a>
</form>

<!---------------------- 상품 등록 구간 end---------------------------------------------------------------------------------------------------->
<!-- Footer Section Begin -->
<div th:insert="~{footer.html}"></div>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>

    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script th:inline="javascript">
    var message = [[${msg}]];
    if(message){
    alert(message)
    };
</script>
<script src="js/main.js"></script>
<!--------------제품 상태 체크 박스--------------------------------------------------->
<script>
    const checkboxes = document.querySelectorAll('input[name="itemSellStatus"]');
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function() {
            checkboxes.forEach((cb) => {
                if (cb !== this) {
                    cb.checked = false;
                }
            });
        });
    });
</script>
<!-- 이미지 업로드 ----js------------------------------------------------>
<script>
    $(document).ready(function(){

/// 이미지 박스  컨텐츠 박스에 맞게
    $(".imgUpBox").height($(".contentBox")
    .height()-$(".custom-file-input")-$(".uploadResul").height());

    ////////////////csrf 토큰////////////////////////////////////////////////////////////////
       var csrfToken = $("meta[name='_csrf']").attr("content");
       var csrfHeader = $("meta[name='_csrf_header']").attr("content");


<!--            var csrfToken = /*[[${_csrf.token}]]*/ null;-->
<!--            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;-->
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    ////////////////csrf 토큰.end////////////////////////////////////////////////////////////////

/////////////이미지 체크////////////
var regex = new RegExp("(.*?\.(jpg|png|gif))$");
var maxSize = 10 * 1024 * 1024; //10MB

function checkExtension(fileName, fileSize) {
    if (fileSize > maxSize) {
        alert("파일사이즈가 10MB를 초과했습니다");
        return false;
    }
    if (!regex.test(fileName)) {
        alert("이미지만 업로드할 수 있습니다");
        return false;
    }
    return true;
}

$(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop(); //파일명만 구하기
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

    var formData = new FormData(); // form에 대응되는 객체
    var inputFile = $(this); // 들어간 파일
    var files = inputFile[0].files;

    var appended = false; // 첨부파일 선택 여부 체크 플래그

    for (var i = 0; i < files.length; i++) {
        if (!checkExtension(files[i].name, files[i].size)) {
            return false;
        }
        console.log(files[i]);
        formData.append("uploadFiles", files[i]);
        appended = true; // 첨부파일 선택 true
    }

    // 첨부파일 선택하지 않았으면 종료
    if (!appended) {
        return;
    }

    // ajax방식으로 파일 전송
    $.ajax({
        url: "/uploadAjax", // 서버 주소
        processData: false, // 파일 전송 시 설정
        contentType: false, // 파일 전송 시 설정
        data: formData, // 서버로 전송되는 데이터
        type: "post", // 전송 방식
        dataType: "json", // 서버에서 넘어오는 데이터의 형식
        success: function (result) { // 서버에서 데이터가 정상적으로 넘어오면

            showResult(result); // 썸네일 목록 출력
            $(".custom-file-label").html(""); // input type="file" 실제 화면 초기화
        }
    });
});

$(".custom-file-input2").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

    var formData = new FormData();
    var inputFile = $(this);
    var files = inputFile[0].files;

    var appended = false;

    for (var i = 0; i < files.length; i++) {
        if (!checkExtension(files[i].name, files[i].size)) {
            return false;
        }
        console.log(files[i]);
        formData.append("uploadFiles", files[i]);
        appended = true;
    }

    if (!appended) {
        return;
    }

    $.ajax({
        url: "/uploadAjax",
        processData: false,
        contentType: false,
        data: formData,
        type: "post",
        dataType: "json",
        success: function (result) {
            showResult3(result);
            $(".custom-file-label").html(""); // input type="file" 실제 화면 초기화
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus);
        }
    });
});
 ///////////////////////////////// 상세내용 이미지/////////

/////////// 컨텐츠 이미지//// 보여주기///
        function showResult3(uploadResultArr){
            var uploadUL2 = $(".uploadResult2 ul");
            var str ="";
            $(uploadResultArr).each(function(i, obj) {
                str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                str += " <div>";
                str += "<img src='/display?fileName=" + obj.imageURL + "'>"; // 여기서 닫는 큰 따옴표가 추가됨
                str += "<input type='hidden' class='imageURL' value='" + obj.imageURL + "'>";
                str += "</div>";
                str += "</li>";
            });
            uploadUL2.html(str);
        // 이미지가 로드될 때마다 adjustHeight() 함수 호출
        $(".uploadResult2 ul li img").on("load", function() {
            adjustHeight();
        });
   }
        function adjustHeight() {
            var ulHeight = 0;
            $(".uploadResult2 ul li img").each(function() {
                ulHeight += $(this).height(); // 각 이미지의 높이를 더함
            });
            $(".uploadResult2 ul").height(ulHeight); // ul 요소의 높이를 이미지 높이의 합으로 설정
        }

        //삭제
        $(".uploadResult2").on("click","li img",function(){
            var targetFile=$(this).data("file");//obj.imageURL 얘! -> 즉 이미지 경로
            var targetLi=$(this).closest("li");

            $.ajax({
                url:"/removeFile", //서버주소
                data:{fileName:targetFile}, //서버로 전송되는 데이터
                dataType:"text", //서버에서 넘어오는 데이터의 타입
                type:"post", //전송방식
                success:function(result){ //서버로 부터 정상적으로 응답이 올때
                    if(result=="true"){
                        alert("이미지가 삭제되었습니다");
                    }
                    targetLi.remove(); // 화면에서 썸네일삭제
                }
            });
        });
           // 이미지 삭제 이벤트 핸들러
        $(".uploadResult2").on("click", "li img", function(){
            var targetFile = $(this).closest("li").find(".imageURL").val();  // 이미지 파일 경로를 가져옵니다.
            var targetLi = $(this).closest("li"); // 클릭한 이미지의 부모 li 요소

            removeImage(targetFile); // 이미지 삭제 함수 호출
            targetLi.remove(); // 화면에서 썸네일 삭제
        });
 ///////////////////////////////// 상세내용 이미지/////////
//////////////////////////////////등록버튼 클릭시.end (드래그앤드롭 xx)////////////////////////////////
        //uploadResultArr는 업로드 결과값을 담고 잇는 배열 / 각 이미지 정보를 순회하면서 HTML 문자열을 생성합니다.
        var firstImageData = null; // 첫 번째 이미지 정보를 저장할 변수

        function showResult(uploadResultArr){
            var uploadURL = $(".uploadResult ul"); // 썸네일이 출력되는 위치
            var viewImageURL = $(".viewimage ul"); // 첫 번째 이미지를 출력할 위치

            var str = "";
            var isFirstImage = true; // 첫 번째 이미지 여부를 확인하기 위한 변수

            $(uploadResultArr).each(function(i, obj){
                str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                str += "<div style='position: relative; display: flex; flex-direction: column;'>"; // 세로로 배치
                str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>"; // 이미지 크기에 맞게 설정
                str += "<input type='hidden' class='imageURL' value='" + obj.imageURL + "'>";
                str += "</div>";
                str += "</li>";

                if(isFirstImage){
                    var firstImage = "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                    firstImage += "<div style='position: relative; display: flex; flex-direction: column;'>"; // 세로로 배치
                    firstImage += "<img src='/display?fileName=" + obj.imageURL + "' style='width: auto; height: 100%; max-height: 400px; margin:0px;'>";
                    firstImage += "</div>";
                    firstImage += "</li>";

                    viewImageURL.html(firstImage); // 첫 번째 이미지를 출력 위치에 추가
                    firstImageData = obj; // 첫 번째 이미지 정보 저장
                    isFirstImage = false; // 첫 번째 이미지를 추가했음을 표시
                }
            });
            uploadURL.append(str);
        }
        // 이미지 삭제 함수
        function removeImage(targetFile){
            // 서버로 이미지 삭제 요청을 보냅니다.
            $.ajax({
                url: "/removeFile", // 서버 주소
                data: { fileName: targetFile }, // 서버로 전송되는 데이터
                dataType: "text", // 서버에서 넘어오는 데이터의 타입
                type: "post", // 전송 방식
                success: function(result){ // 서버로부터 정상적으로 응답이 올 때
                    if(result == "true"){
                        alert("이미지가 삭제되었습니다");
                    }

                    // 삭제한 이미지가 첫 번째 이미지와 동일한 경우, 첫 번째 이미지 영역도 삭제합니다.
                    if(firstImageData && targetFile == firstImageData.imageURL){
                        $(".viewimage ul").empty(); // 첫 번째 이미지 영역 비우기

                        // 다음 이미지가 있을 경우 첫 번째 이미지로 설정합니다.
                        var nextImageLi = $(".uploadResult ul li").first(); // 다음 이미지의 <li> 요소 가져오기
                        if(nextImageLi.length > 0){
                            var nextImageData = {
                                fileName: nextImageLi.data("name"),
                                folderPath: nextImageLi.data("path"),
                                uuid: nextImageLi.data("uuid"),
                                thumbnailURL: nextImageLi.find("img").attr("src"),
                                imageURL: nextImageLi.find(".imageURL").val()
                            };
                            var firstImage = "<li data-name='" + nextImageData.fileName + "' data-path='" + nextImageData.folderPath + "' data-uuid='" + nextImageData.uuid + "'>";
                            firstImage += "<div class='viewimage' style='position: relative; display: flex; flex-direction: column; overflow: hidden;'>"; // .viewimage 요소 추가
                            firstImage += "<img src='" + nextImageData.thumbnailURL + "'>"; // 이미지 크기에 맞게 설정
                            firstImage += "</div>";
                            firstImage += "</li>";
                            $(".viewimage ul").html(firstImage); // 첫 번째 이미지를 출력 위치에 추가
                            firstImageData = nextImageData; // 첫 번째 이미지 정보 업데이트
                        }
                    }
                }
            });
        }
        // 이미지 삭제 이벤트 핸들러
        $(".uploadResult").on("click", "li img", function(){
            var targetFile = $(this).closest("li").find(".imageURL").val();  // 이미지 파일 경로를 가져옵니다.
            var targetLi = $(this).closest("li"); // 클릭한 이미지의 부모 li 요소

            removeImage(targetFile); // 이미지 삭제 함수 호출
            targetLi.remove(); // 화면에서 썸네일 삭제
        });
////////////등록버튼클릭//////////////////////////////////////
        $("#submitBtn").on("click",function(e){
            e.preventDefault();  //전송방지
            var str="";
            $(".uploadResult li").each(function(i,obj){
                var target=$(obj);
                console.log("obj 등록 버튼시" +obj)
                str+="<input type='hidden' name='imageDTOList["+i+"].piimgName' value='"+target.data('name')+"'>";
                str+="<input type='hidden' name='imageDTOList["+i+"].pipath' value='"+target.data('path')+"'>";
                str+="<input type='hidden' name='imageDTOList["+i+"].piuuid' value='"+target.data('uuid')+"'>";
            });

             $(".uploadResult2 li").each(function(i,obj){
                var target = $(obj);
                str += "<input type='hidden' name='imageDTOList2["+i+"].piimgName' value='"+target.data('name') +"'>";
                str += "<input type='hidden' name='imageDTOList2["+i+"].pipath' value='"+target.data('path')+"'>";
                str += "<input type='hidden' name='imageDTOList2["+i+"].piuuid' value='"+target.data('uuid')+"'>";
            });

            $(".box").html(str); // hidden태그 출력
            $("form").submit(); //폼전송
        });
    });
</script>
<!----------- 이미지 업로드 js---end--------------------------->
</body>

</html>
