<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<head>
    <!--토큰 ----------------------->
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--토큰 ----------------------->
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoomGoodRoomEnd</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<!-----------윤기가 추가한 css--------------------------------->
<style>
    .register_info li {
            margin-bottom: 5%; /* 리스트 아이템 사이에 간격을 주기 위해 마진을 설정합니다. */
        }

    .form-group{
        margin-bottom: 3%; /*인풋 부분 간격*/
        }
</style>
<!-------------------업로드 이미지 구역 css--------------------->
<style>
    .uploadResult {
        width: 100%;
        height: 80%;
        background-color: gray;
        margin-top: 10px;
    }

    .uploadResult ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        overflow: auto;
    }

    .uploadResult ul li {
        list-style: none;
        padding: 10px;
        margin-left: 2em;
    }

    .uploadResult ul li img {
        width: 100px;
    }
</style>
<!-------------------업로드 이미지 구역 css--------------------->
<!-----------윤기가 추가한 css--------------------------------->
<body>
<!---------------------- body---------------------------------------------------------------------------------------------------->
<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
<!-- Page Preloder -->

<!-- <div id="preloder">
    <div class="loader"></div>
</div> -->

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="/loginshop" sec:authorize="isAnonymous()">로그인</a>
            <a href="/Logout" sec:authorize="isAuthenticated()">로그아웃</a>
            <a href="/loginshop" sec:authorize="isAnonymous()">회원가입</a>
            <a href="#">고객센터</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<div th:insert="~{header.html}"></div>
<!-- Header Section End -->
<!--살이 좀 빠졋네 -> 공지사항 노란 바-->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>상품 수정/삭제</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">home</a>
                        <span>상품 수정/삭제</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--살이 좀 빠졋네 -> 공지사항 노란 바.end-->
<!---------------------- 상품 등록 구간---------------------------------------------------------------------------------------------------->
<form th:action="@{/productregister}" th:method="post">
    <input type="hidden" name="page" th:value="${result.page}">
<!--    <input type="hidden" name="type" th:value="${rresult.type}" >-->
<!--    <input type="hidden" name="keyword" th:value="${result.keyword}" >-->

    <div class="container" style="margin-top: 3%;">
        <div class="row mb-3">
            <div class="col-lg-3">
                <div class="cart__total" style="text-align: center;">
                    <ul class="register_info">
                        <li class="mb-3">상품명(필수)</li>
                        <li class="mb-2">카테고리 </li>
                        <li class="mb-3">판매가(필수)</li>
                        <!-- <li>재고</li> -->
                        <!-- 수민이가 일단 빼자고 해서 주석 -->
                        <li class="mb-3">상품 요약 설명</li>
                        <li class="mb-3">상품 상세 설명</li>
                        <li class="margin-bottom:10%;">썸네일 이미지</li>
                        <li class="mb-3">상품 태그 설정</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="cart__total" style="text-align: center;">
                    <ul class="register_info">
                        <div class="form-group">

                            <!----------------제품 input start-------------------->
                            <input type="hidden" name="pno" th:value="${dto.pno}">
                            <input type="text" class="form-control mb-3" name="pname" placeholder="상품명(필수)" th:value="${dto.pname}">

                            <!-------------------------카테고리 선택------------------->
                            <div class="row">
                                <div class="col-lg-4 mb-3">
                                    <div class="input-group" style="width: auto;">
                                        <select class="custom-select" id="categoryLevel1" onchange="selectCategoryLevel1(this.value)">
                                            <option disabled selected>대분류 선택</option>
                                            <option value="가구">가구</option>
                                            <option value="가전">가전</option>
                                            <option value="정리/보관">정리/보관</option>
                                            <option value="생활용품">생활용품</option>
                                            <option value="소품/취미">소품/취미</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4" id="categoryLevel2Div">
                                    <div class="input-group" style="width: auto;">
                                        <select class="custom-select" id="categoryLevel2" onchange="selectCategoryLevel2(this.value)">
                                            <option disabled selected>중분류 선택</option>
                                            <!-- 중분류 옵션은 JavaScript에서 동적으로 추가 -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4" id="categoryLevel3Div">
                                    <div class="input-group" style="width: auto;">
                                        <select class="custom-select" id="categoryLevel3" onchange="selectCategoryLevel3(this.value)">
                                            <option disabled selected>소분류 선택</option>
                                            <!-- 소분류 옵션은 JavaScript에서 동적으로 추가 -->
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <input id="selectedCategoryLevel1" type="hidden" name="categoryLevel1">
                            <input id="selectedCategoryLevel2" type="hidden" name="categoryLevel2">
                            <input id="selectedCategoryLevel3" type="hidden" name="categoryLevel3">
                            <!--카테고리 선택--------------------------------------------------->
                            <div class="form-group row">
                                <input type="text" class="form-control col-lg-10" name="price" th:value="${dto.price}">
                                <div class="col-lg-2">원</div>
                            </div>
                            <div class="form-group row">
                                <input type="text" class="form-control col-lg-10" name="stock" th:value="${dto.stock}">
                                <div class="col-lg-2">수량</div>
                            </div>
                            <div class="checkbox-group">
                                제품 상태 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="checkbox" id="tag11" name="itemSellStatus" value="SELL" th:checked="${dto.itemSellStatus == 0}">
                                <label for="tag11">SELL</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="checkbox" id="tag21" name="itemSellStatus" value="SOLD_OUT" th:checked="${dto.itemSellStatus == 1}">
                                <label for="tag21">SOLD_OUT</label>
                            </div>
                            <!-- <input class="form-control" name="stock" placeholder="상품 수량"> -->
                            <!-- 수민이가 일단 빼자고 해서 주석 -->
                            <input type="text" class="form-control mb-3" name="subContent" th:value="${dto.subContent}">
                            <textarea class="form-control mb-3" name="content" rows="6">[[${dto.content}]]
                            </textarea>
                            <!-- 업로드된 이미지 목록 -------------------------------------------------------->
                            <div>
                                <div class="container mb-3" style="margin-top: 3%; height: 300px; background-color: rgb(193, 193, 193);">
                                    <h5 style="text-align: left;">image preview</h5>
<!--                                    <div class="uploadResult">-->
<!--                                        <ul>-->
<!--                                            <li>-->
<!--                                                <button type="button" class="deleteBtn">x</button>-->
<!--                                                <div>-->
<!--                                                    <img th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|"-->
<!--                                                         style="width: 25%; height:100%;border-radius: 5px;">-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                    <div class="uploadResult">
                                        <ul>
                                            <li th:each="imageDTO : ${dto.imageDTOList}">
                                                <button type="button" class="deleteBtn">x</button>
                                                <div>
                                                    <img th:src="|/display?fileName=${imageDTO.thumbnailURL}|"
                                                         style="width: 25%; height:100%; border-radius: 5px;">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group fileForm">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input files" id="fileInput" multiple>
                                        <label class="custom-file-label" for="fileInput" data-browse="파일첨부"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- 업로드된 이미지 목록.end -->
                            <!-- 태그 수량에 맞게 일단 위치만 ------------------------------------------->
                            <div class="form-check ">
                                <div class="row">
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag1" name="tag1">
                                        <label class="form-check-label" for="tag1">태그 1</label>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag2" name="tag2">
                                        <label class="form-check-label" for="tag2">태그 2</label>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag3" name="tag2">
                                        <label class="form-check-label" for="tag2">태그 3</label>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag4" name="tag2">
                                        <label class="form-check-label" for="tag2">태그 4</label>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag5" name="tag2">
                                        <label class="form-check-label" for="tag2">태그 5</label>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag6" name="tag2">
                                        <label class="form-check-label" for="tag2">태그 6</label>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag7" name="tag2">
                                        <label class="form-check-label" for="tag2">태그 7</label>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-check-input" type="checkbox" id="tag8" name="tag2">
                                        <label class="form-check-label" for="tag2">태그 8</label>
                                    </div>
                                    <!-- 나머지 체크 박스들도 동일한 방법으로 추가 -->
                                </div>
                            </div>
                            <!-- 태그 수량에 맞게 일단 위치만 ------------------------------------------->
                        </div>
                    </ul>
                    <div class="box">

                    </div>
                    <button type="button" id="submitBtn" class="btn btn-primary modifyBtn">수정하기</button>
                    <button type="button" class="btn btn-info listBtn">List</button>
                    <button type="button" class="btn btn-info removeBtn">Remove</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!---------------------- 상품 등록 구간 end---------------------------------------------------------------------------------------------------->
<!-- Footer Section Begin -->
<div th:insert="~{footer.html}"></div>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>

    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script th:inline="javascript">
    var message = [[${msg}]];
    if(message){
    alert(message)
    };
</script>
<script src="js/main.js"></script>

<!--------------카테고리 js--------------------------------------->
<script>
    function selectCategoryLevel1(value) {
        document.getElementById('selectedCategoryLevel1').value = value;
        // 중분류 선택란 초기화
        var categoryLevel2Select = document.getElementById('categoryLevel2');
        categoryLevel2Select.innerHTML = '';
        categoryLevel2Select.appendChild(document.createElement('option'));

        // 중분류 선택 옵션 추가
        var categories = {
            '가구': ['의자', '테이블', '장식'],
            '가전': ['TV', '냉장고', '세탁기'],
            '정리/보관': ['서랍장', '옷걸이', '선반'],
            '생활용품': ['휴지통', '바구니', '화장품정리'],
            '소품/취미': ['그림', '퍼즐', '모형'],
        };
        categories[value].forEach(function(category) {
            var option = document.createElement('option');
            option.text = category;
            option.value = category;
            categoryLevel2Select.appendChild(option);
        });
        // 중분류 선택란 보이도록 변경
        document.getElementById('categoryLevel2Div').style.display = 'block';
        // 소분류 선택 초기화
        document.getElementById('selectedCategoryLevel2').value = '';
        document.getElementById('selectedCategoryLevel3').value = '';
    }

    function selectCategoryLevel2(value) {
        document.getElementById('selectedCategoryLevel2').value = value;
        // 소분류 선택란 초기화
        var categoryLevel3Select = document.getElementById('categoryLevel3');
        categoryLevel3Select.innerHTML = '';
        categoryLevel3Select.appendChild(document.createElement('option'));

        // 소분류 선택 옵션 추가
        var categories = {
            '의자': ['나무의자', '금속의자', '플라스틱의자'],
            '테이블': ['목재테이블', '유리테이블', '금속테이블'],
            '장식': ['조화', '그림', '시계'],
            'TV': ['LCD TV', 'LED TV', 'OLED TV'],
            '냉장고': ['일반 냉장고', '양문 냉장고', '김치 냉장고'],
            '세탁기': ['일반 세탁기', '드럼 세탁기', '스팀 세탁기'],
            '서랍장': ['목재 서랍장', '플라스틱 서랍장', '금속 서랍장'],
            '옷걸이': ['목재 옷걸이', '플라스틱 옷걸이', '금속 옷걸이'],
            '선반': ['목재 선반', '플라스틱 선반', '금속 선반'],
            '휴지통': ['플라스틱 휴지통', '금속 휴지통', '유리 휴지통'],
            '바구니': ['플라스틱 바구니', '금속 바구니', '목재 바구니'],
            '화장품정리': ['화장품 거치대', '화장품 정리함', '화장품 케이스'],
            '그림': ['유화', '수채화', '아크릴화'],
            '퍼즐': ['1000조각', '500조각', '200조각'],
            '모형': ['자동차', '비행기', '선박'],
        };
        categories[value].forEach(function(category) {
            var option = document.createElement('option');
            option.text = category;
            option.value = category;
            categoryLevel3Select.appendChild(option);
        });
        // 소분류 선택란 보이도록 변경
        document.getElementById('categoryLevel3Div').style.display = 'block';
    }

    function selectCategoryLevel3(value) {
        document.getElementById('selectedCategoryLevel3').value = value;
    }
</script>
<!--------------카테고리 js end--------------------------------------->

<!--------------제품 상태 체크 박스--------------------------------------------------->
<script>
    const checkboxes = document.querySelectorAll('input[name="itemSellStatus"]');
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function() {
            checkboxes.forEach((cb) => {
                if (cb !== this) {
                    cb.checked = false;
                }
            });
        });
    });
</script>
<!-----------------------제품 상태 체크 박스end------------------------------------------>
<!-- 이미지 업로드 ----js------------------------------------------------>
<script>
    $(document).ready(function(){
    ////////////////csrf 토큰////////////////////////////////////////////////////////////////
       var csrfToken = $("meta[name='_csrf']").attr("content");
       var csrfHeader = $("meta[name='_csrf_header']").attr("content");


<!--            var csrfToken = /*[[${_csrf.token}]]*/ null;-->
<!--            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;-->
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    ////////////////csrf 토큰.end////////////////////////////////////////////////////////////////

/////////////이미지 체크////////////
        var regex=new RegExp("(.*?\.(jpg|png|gif))$");
        var maxSize=10*1024*1024; //10MB
        //filesize, image유무 체크
        function checkExtension(fileName,fileSize){
            if(fileSize>maxSize){
                alert("파일사이즈가 10MB를 초과했습니다");
                return false;
            }
            if(!regex.test(fileName)){
                alert("이미지만 업로드할 수 있습니다");
                return false;
            }
            return true;
        }
        $(".custom-file-input").on("change",function(){
            var fileName=$(this).val().split("\\").pop(); //파일명만 구하기
            $(this).siblings(".custom-file-label").html(fileName);

            var formData=new FormData(); // form에 대응되는 객체
            var inputFile=$(this); // 들어간 파일
            var files=inputFile[0].files;

            var appended=false; // 첨부파일 선택 유뮤 체크flag

            for(var i=0;i<files.length;i++){

                if(!checkExtension(files[i].name, files[i].size)){
                    return false;
                }
                console.log(files[i]);
                formData.append("uploadFiles",files[i]);
                appended=true; // 첨부파일 선택 true
            }
            // 첨부파일 선택하지 않았으면 종료
            if(!appended){
                return;
            }
            // ajax방식으로 파일전송
            $.ajax({
                url:"/uploadAjax", //서버주소
                processData:false, // 파일전송시 설정 -> 트루로하면 data 속성에 지정된 데이터를 문자열로 변환하려함 제이쿼리가!!
                contentType:false, // 파일전송시 설정 -> 트루로하면 자동으로 application/x-www-form-urlencoded; charset=UTF-8' 뭐 이런식으로 컨텐트타입이 정해진다네요 파일의 타입은 multipart/form-data이런 형식으로 전송을 해야돼서 폴스로!
                data: formData, //서버로 전송되는 데이터
                type: "post", //전송방식
                dataType: "json", //서버에서 넘어오는 데이터의 형식
                success:function(result){ //서버에서 데이터가 정상적으로 넘어오면

                console.log(result);

                    showResult(result); // 썸네일 목록 출력
                    <!--$(".custom-file-input").val(""); // input type="file" 초기화-->
                    $(".custom-file-label").html(""); // input type="file" 실제 화면 초기화
                }
            });
        });
//////////////////////////////////등록버튼 클릭시.end (드래그앤드롭 xx)////////////////////////////////

//uploadResultArr는 업로드 결과값을 담고 잇는 배열 / 각 이미지 정보를 순회하면서 HTML 문자열을 생성합니다.
        function showResult(uploadResultArr){
            var uploadURL=$(".uploadResult ul"); //썸네일이 출력되는 위치
            var str="";
            $(uploadResultArr).each(function(i,obj){
                str+="<li data-name='"+obj.fileName+"' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
                str+="<div>";
                str+="<button type='button' data-file='"+obj.imageURL+"' class='btn btn-warning btn-sm'>&times;</button><br>";
                str+="<img src='/display?fileName="+obj.thumbnailURL+"'>";
                str+="</div>";
                str+="</li>";
            });

            uploadURL.append(str);
        }

        //삭제버튼클릭
        $(".uploadResult").on("click","li button",function(){
            var targetFile=$(this).data("file");//obj.imageURL 얘! -> 즉 이미지 경로
            var targetLi=$(this).closest("li");

            $.ajax({
                url:"/removeFile", //서버주소
                data:{fileName:targetFile}, //서버로 전송되는 데이터
                dataType:"text", //서버에서 넘어오는 데이터의 타입
                type:"post", //전송방식
                success:function(result){ //서버로 부터 정상적으로 응답이 올때
                    if(result=="true"){
                        alert("이미지가 삭제되었습니다");
                    }
                    targetLi.remove(); // 화면에서 썸네일삭제
                }
            });
        });


    });
</script>
<!--수정 삭제-->
<script th:inline="javascript">
    <!--수정하기-->
    var actionForm = $("form");
 $(".modifyBtn").click(function(){
     if(!confirm("수정하시겠습니까?")){
         return;
     }
     // 이미지 정보 hidden input 태그 생성
     var str="";
     $(".uploadResult li").each(function(i,obj){
         var target=$(obj);
         str+="<input type='hidden' name='imageDTOList["+i+"].piimgName' value='"+target.data('name')+"'>";
         str+="<input type='hidden' name='imageDTOList["+i+"].pipath' value='"+target.data('path')+"'>";
         str+="<input type='hidden' name='imageDTOList["+i+"].piuuid' value='"+target.data('uuid')+"'>";
     });
     $(".box").html(str); // hidden태그 출력
     // 폼 속성 변경 및 전송
     actionForm.attr("action","/productmodify").attr("method","post").submit();
 });
     $(".removeBtn").click(function(){
         if(!confirm("삭제하시겠습니까?")){
             return;
         }
         actionForm.attr("action","/productremove").attr("method","post").submit();
     });
     $(".listBtn").click(function() {
         var page = $("input[name='page']");
         //var type = $("input[name='type']");
        // var keyword = $("input[name='keyword']");

         actionForm.empty(); //form 태그의 모든 내용을 지우고

         actionForm.append(page);
         //actionForm.append(type);
         //actionForm.append(keyword);

         actionForm
             .attr("action", "/shop")
             .attr("method","get");

         actionForm.submit();
     })
</script>
<!-- 불러온 이미지 삭제-->
<script>
    $(document).ready(function() {
        // 이미지 삭제 버튼 클릭
        $(".uploadResult").on("click", "li .deleteBtn", function() {
            var targetFile = $(this).closest("li").find("img").attr("src");
            var targetLi = $(this).closest("li");

            $.ajax({
                url: "/removeFile", // 서버 주소
                data: { fileName: targetFile }, // 서버로 전송되는 데이터
                dataType: "text", // 서버에서 넘어오는 데이터의 타입
                type: "post", // 전송 방식
                success: function(result) { // 서버로부터 정상적으로 응답이 올 때
                    if (result == "true") {
                        alert("이미지가 삭제되었습니다");
                    }
                    targetLi.remove(); // 화면에서 썸네일 삭제
                }
            });
        });
    });
</script>
<!----------- 이미지 업로드 js---end--------------------------->
</body>

</html>