<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
<!-- Page Preloder -->



<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="/loginshop" sec:authorize="isAnonymous()">로그인</a>
            <a href="/Logout" sec:authorize="isAuthenticated()">로그아웃</a>
            <a href="/loginshop" sec:authorize="isAnonymous()">회원가입</a>
            <a href="#">고객센터</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<div th:insert="~{header.html}"></div>
<!-- Header Section End -->
<!--살이 좀 빠졋네 -> 공지사항 노란 바-->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>비밀번호 변경</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">login</a>
                        <span>비밀번호 변경</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--살이 좀 빠졋네 -> 공지사항 노란 바.end-->
<form th:if="!${msgPw}" action="/emails/verification-requests" method="post">
    <div th:if="!${msgPw}" class="container" style="max-width:500px;">
        <div class="col-lg-12 mb-3 mt-3" style="text-align:left; padding:0px;">
            가입한 이메일 주소를 입력하세요.
        </div>

        <div th:if="!${email}" class="col-lg-12 mb-4" style="text-align:left; padding:0px;">
            <input type="email" name="email" class="form-control" placeholder="이메일" required=""
                   autofocus="">
        </div>

        <div th:if="${email}"
             class="col-lg-12 mb-4" style="text-align:left; padding:0px;">
            <input type="email" name="email" class="form-control" placeholder="이메일" required="" th:value="${email}"
                   autofocus="" readonly>
        </div>


        <div class="col-lg-12 mb-4" style=" padding:0px;">
            <button class="btn btn-info" type="submit" style="width:100%;">이메일로 인증코드 받기</button>
        </div>
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
    </div>
</form>


<form action="/emails/verifications" method="get">

    <div class="container" th:if="!${msgPw}" style="max-width:500px;">
        <div th:if="${email}" class="col-lg-12 mb-3 mt-3" style="text-align:left;padding:0px;">
            이메일로 전송 된 코드를 입력하세요.
        </div>
        <div th:if="${email}" class="row">
            <div class="col-lg-9 mb-4" style="text-align:left; ">
                <input type="text" name="code" class="form-control" placeholder="코드 번호" required="" autofocus="">
            </div>
            <input type="hidden" name="email" class="form-control" placeholder="이메일" required="" th:value="${email}" autofocus="" readonly>

            <div class="col-lg-3 mb-4">
                <button class="btn btn-info" type="submit" style="width:100%"> 확인</button>
            </div>
        </div>

        <div th:if="!${msgPw}" class="cart__discount cart__total" style="text-align: center; font-size:12px; padding:25px 20px ">
            <div>회원가입 시 입력한 정보가 기억이 나지 않는다면?</div>
            <a href="/FAQ">고객센터에 문의하기(6652-6323)</a>
        </div>
    </div>
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
</form>


<!--th:if="${msgPw}"-->
<form action="/changePW" method="post">
    <input type="hidden" name="email" class="form-control" th:value="${email}" autofocus="">
    <div class="container" th:if="${msgPw}" style="max-width:500px;">
        <div class="col-lg-12 mb-3 mt-3" style="text-align:left;padding:0px;">
            변경할 비밀번호를 입력하세요.
        </div>
            <div class="col-lg-12 mb-4" style="text-align:left;padding:0px;">
                <input type="password" name="password" class="form-control" placeholder="비밀번호" required=""
                       autofocus="">
            </div>
            <div class="col-lg-12 mb-4" style="text-align:left;padding:0px; ">
                <input type="password" name="password2" class="form-control" placeholder="비밀번호확인" required=""
                       autofocus="">
            </div>

            <div class="col-lg-12 mb-4" style="padding:0px;">
                <button class="btn btn-info" type="submit" style="width:100%"> 비밀번호 변경</button>
            </div>

        <div class="cart__discount cart__total" style="text-align: center; font-size:12px; padding:25px 20px ">
            <div>회원가입 시 입력한 정보가 기억이 나지 않는다면?</div>
            <a href="/FAQ">고객센터에 문의하기(1622-3124)</a>
        </div>
    </div>
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
</form>


<!--<hr>-->

<!--<h2>Verify Email</h2>-->
<!--<form action="/emails/verifications" method="get">-->
<!--    <label for="email">Email:</label>-->
<!--    <input type="email" id="email" name="email" required><br>-->
<!--    <label for="code">Verification Code:</label>-->
<!--    <input type="text" id="code" name="code" required><br>-->
<!--    <button type="submit">Verify</button>-->
<!--    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>-->
<!--</form>-->


<!-- Footer Section Begin -->
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" action="/shop" method="get">
            <input type="hidden" name="page" value="1">
            <input type="text" id="search-input" name="keyword" placeholder="Search here.....">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script th:inline="javascript">
    var message = [[${msg}]];
    if(message){
    alert(message)
    };
</script>
<script src="js/main.js"></script>

</body>

</html>