<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>
    <!--제이쿼리-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <style>
        .col-lg-2 {
          position: relative;
          display: inline-block;
          transition: color 0.3s ease; /* 호버 효과를 위한 색상 전환 효과 */
          cursor:pointer;
          padding-bottom:10px;
        }

      .col-lg-2::after {

          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          width: 0; /* 초기에는 바텀 라인의 너비가 0 */
          height: 2px;
          background-color: gray;
          transition: width 0.3s ease; /* 너비 변화를 부드럽게 만듦 */
      }

      .col-lg-2:hover::after {
          width: calc(70% - 40px); /* 호버 상태에서 바텀 라인의 너비를 조정하여 가운데에서부터 양옆으로 확장됨 */
      }

    </style>
</head>

<body>
<!-- Page Preloder -->

<!-- Offcanvas Menu Begin -->
<div th:insert="~{header.html}"></div>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>위시리스트</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">Home</a>
                        <span>위시리스트</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<form>
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
    <section class="shopping-cart spad">
        <div class="container">
            <br>
            <div class="col-lg-12">
                <div class="cart__discount " style="text-align: center;">
                    <div><img src="img/profile.jpg"></div>
                    <br>
                    <div><b>구건모</b>님의 찜 목록</div>
                </div>
            </div>
            <div class="row mywish" style="text-align:center;justify-content: center;">

              <div id="mywish1" class="col-lg-2">전체</div>
              <div id="mywish2" class="col-lg-2">가전</div>
              <div id="mywish3" class="col-lg-2">옷정리/보관</div>
              <div id="mywish4" class="col-lg-2">생활용품</div>
              <div id="mywish5" class="col-lg-2">소품/취미</div>
            </div>
            <hr>
                <div class="mymember"  style="margin-left:50px;text-align: center; margin-bot:150px font-size:18px;">
                    <hr>
                    <div class="col-md-12 mb-3" style="text-align: center; font-size:20px;"><b>찜 목록</b></div>
                    <hr>
                    <div class="row all" style="background: #f3f2ee;">
                        <div class="col-md-5 mb-3" style="text-align: center;"><b>상품 내역</b></div>
                        <div class="col-md-3 mb-3" style="text-align: center;"><b>상품 가격</b></div>
                        <div class="col-md-4 mb-3" style="text-align: center;"><b>주문 상세</b></div>
                    </div>
                    <!--반복될 애들-->
                    <div class="row elect" style="border:1px solid #f3f2ee ;font-size:15px">
                        <div class="col-md-5 mb-3" style="text-align: center;"><b>가전</b></div>
                        <div class="col-md-3 mb-3" style="text-align: center;"><b>100,000원</b></div>
                        <div class="col-md-4 mb-3" style="text-align: center;"><button class="koobtn" style="color: #ffffff; background: #111111;border-color: #111111;">보러가기</button></div>
                    </div>
                    <div class="row cloth" style="border:1px solid #f3f2ee ;font-size:15px">
                        <div class="col-md-5 mb-3" style="text-align: center;"><b>옷정리/보관</b></div>
                        <div class="col-md-3 mb-3" style="text-align: center;"><b>15,000원</b></div>
                        <div class="col-md-4 mb-3" style="text-align: center;"><button class="koobtn" style="color: #ffffff; background: #111111;border-color: #111111;">보러가기</button></div>
                    </div>
                    <div class="row daily" style="border:1px solid #f3f2ee ;font-size:15px">
                        <div class="col-md-5 mb-3" style="text-align: center;"><b>생활용품</b></div>
                        <div class="col-md-3 mb-3" style="text-align: center;"><b>1,000원</b></div>
                        <div class="col-md-4 mb-3" style="text-align: center;"><button class="koobtn" style="color: #ffffff; background: #111111;border-color: #111111;">보러가기</button></div>
                    </div>
                    <div class="row good" style="border:1px solid #f3f2ee ;font-size:15px">
                        <div class="col-md-5 mb-3" style="text-align: center;"><b>소품/취미</b></div>
                        <div class="col-md-3 mb-3" style="text-align: center;"><b>1,000원</b></div>
                        <div class="col-md-4 mb-3" style="text-align: center;"><button class="koobtn" style="color: #ffffff; background: #111111;border-color: #111111;">보러가기</button></div>
                    </div>
                    <div class="row good" style="border:1px solid #f3f2ee ;font-size:15px">
                        <div class="col-md-5 mb-3" style="text-align: center;"><b>소품/취미</b></div>
                        <div class="col-md-3 mb-3" style="text-align: center;"><b>5,000원</b></div>
                        <div class="col-md-4 mb-3" style="text-align: center;"><button class="koobtn" style="color: #ffffff; background: #111111;border-color: #111111;">보러가기</button></div>
                    </div>

                    <!--반복될 애들.end-->
                </div>
        </div>
    </section>
</form>
<!-- Shopping Cart Section End -->
<div th:insert="~{footer.html}"></div>
<script>
    $('#mywish1').on('click',function(){

        $('.all').css('display','flex')
        $('.elect').css('display','flex');
        $('.cloth').css('display','flex');
        $('.daily').css('display','flex');
        $('.good').css('display','flex');
    });
    $('#mywish2').on('click',function(){
        $('.all').css('display','flex')
        $('.elect').css('display','flex');
        $('.cloth').css('display','none');
        $('.daily').css('display','none');
        $('.good').css('display','none');
    });
    $('#mywish3').on('click',function(){
        $('.all').css('display','flex')
        $('.elect').css('display','none');
        $('.cloth').css('display','flex');
        $('.daily').css('display','none');
        $('.good').css('display','none');
    });
    $('#mywish4').on('click',function(){
        $('.all').css('display','flex')
        $('.elect').css('display','none');
        $('.cloth').css('display','none');
        $('.daily').css('display','flex');
        $('.good').css('display','none');
    });
    $('#mywish5').on('click',function(){
        $('.all').css('display','flex')
        $('.elect').css('display','none');
        $('.cloth').css('display','none');
        $('.daily').css('display','none');
        $('.good').css('display','flex');
    });
</script>

<!--    <script src="js/pay.js"></script>-->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>